<section class="">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0"
  >
    <a
      href="#"
      class="
        flex
        items-center
        mb-6
        text-2xl
        font-semibold
        text-gray-900
        dark:text-white
      "
    >
      <%= image_tag "logo.png", class: "h-8 mr-3", alt: "TaskTrakr Logo" %>
      TaskTrakr
    </a>
    <div
      class="
        w-full
        bg-white
        rounded-lg
        shadow
        dark:border
        md:mt-0
        sm:max-w-md
        xl:p-0
        dark:bg-gray-800
        dark:border-gray-700
      "
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="
            text-xl
            font-bold
            leading-tight
            tracking-tight
            text-gray-900
            md:text-2xl
            dark:text-white
          "
        >
          Register a new account
        </h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'space-y-4 md:space-y-6' }) do |f| %>

          <div>
            <%= f.label :name,
                    class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.text_field :name,
                         autofocus: true,
                         autocomplete: "name",
                         class:
                           "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                         placeholder: "John Doe" %>
          </div>

          <div>
            <%= f.label :email,
                    class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class:
                            "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                          placeholder: "name@example.com" %>
          </div>

          <div>
            <%= f.label :password,
                    class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.password_field :password,
                             autocomplete: "new-password",
                             class:
                               "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                             placeholder: "••••••••" %>
          </div>

          <div>
            <%= f.label :password_confirmation,
                    class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.password_field :password_confirmation,
                             autocomplete: "new-password",
                             class:
                               "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                             placeholder: "••••••••" %>
          </div>

          <button
            type="submit"
            class="
              w-full
              text-white
              bg-blue-600
              hover:bg-blue-700
              focus:ring-4
              focus:outline-none
              focus:ring-blue-300
              font-medium
              rounded-lg
              text-sm
              px-5
              py-2.5
              text-center
              dark:bg-blue-600
              dark:hover:bg-blue-700
              dark:focus:ring-blue-800
            "
          >Create account</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account?
            <%= link_to "Sign in",
            new_session_path(resource_name),
            class: "font-medium text-blue-600 hover:underline dark:text-blue-500" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!--
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email,
                        autofocus: true,
                        autocomplete: "email",
                        class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>
              characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation,
                           autocomplete: "new-password",
                           class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
-->
