<%= turbo_stream_from project %>
<ul class="mt-5" id="tasks-table" data-controller="drag-and-drop">
  <% project.tasks.sort_by(&:position).each do |task| %>
    <!-- Task -->
    <li class="mt-2 p-2 border" id="<%= dom_id(task) %>" data-task-id="<%= task.id %>">
      <%= turbo_stream_from task %>
      <%= turbo_frame_tag "turbo_frame_task_#{task.id}" do %>
        <div class= "flex items-center justify-between">
          <div class="flex items-center justify-center gap-2">
            <input
              type="checkbox"
              class="defaultCheckbox relative flex h-[20px] min-h-[20px] w-[20px] min-w-[20px] appearance-none items-center justify-center rounded-md border border-gray-300 text-white/0 outline-none transition duration-[0.2s] checked:border-none checked:text-white hover:cursor-pointer checked:bg-brand-500 undefined"
              name="weekly"
            />
            <p class="text-base font-bold text-navy-700">
              <%= task.position %> - <%= task.title %>
            </p>
          </div>
          <div>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="h-6 w-6 text-navy-700"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0V0z"></path>
              <path
                d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
              ></path>
            </svg>
          </div>
        </div>
        <% end %>
    </li>
  <% end %>
</ul>
