<%# This is just the modal markup, It's hidden by default %>
<%= render "index/add_collaborator_modal" %>

<div>
  <div>
    <div class="flex justify-between items-center py-4">
      <h3 class="text-2xl font-semibold"><%= @project.name %></h3>
      <% unless @project.is_inbox? %>
        <!-- Dropdown button -->
        <button
          id="dropdownDefaultButton"
          data-dropdown-toggle="dropdown"
          class="
            text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
            focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
            inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700
            dark:focus:ring-blue-800 ml-5
          "
          type="button"
        >More
          <svg
            class="w-2.5 h-2.5 ml-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div
          id="dropdown"
          class="
            z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44
            dark:bg-gray-700
          "
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefaultButton"
          >
            <li>
              <button
                data-modal-target="add_collaborator-modal"
                data-modal-toggle="add_collaborator-modal"
                class="
                  block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white
                "
              >Add Collaborator</button>
            </li>
            <li>
              <%= button_to "Destroy this project",
              @project,
              method: :delete,
              data: {
                confirm: "Are you sure you want to delete this project?",
              },
              class:
                "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>

    <% unless @project.is_inbox? %>
      <div class="flex items-center space-x-3">
        <h5 class="text-xl">Collaborators:</h5>
        <ul class="flex gap-3">
          <% @project.users.reverse_each do |user| %>

            <div data-controller="dropdown" class="relative">
              <button
                type="button"
                data-action="dropdown#toggle click@window->dropdown#hide"
                class="text-sm font-medium text-gray-600"
              >
                <%= user.name %>
              </button>

              <div
                data-dropdown-target="menu"
                class="
                  hidden transition transform origin-top-right absolute right-0 bg-white
                  divide-gray-100 rounded-lg w-44 shadow divide-y z-10 p-3
                "
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
              >
                <ul class="py-2 text-gray-800">
                  <li data-action="dropdown#toggle" class="block px-4 py-2 hover:bg-gray-100">
                    <%= button_to "Remove Collaborator",
                    remove_collaborator_project_path,
                    method: :delete,
                    params: {
                      user_id: user.id,
                    } %>
                  </li>
                </ul>
              </div>
            </div>

          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!-- Task list -->
  <%= render "index/tasks_table", project: @project %>
  <!-- Add task form -->
  <div class="mt-1" id="tasks-form">
    <%= form_with(model: [@project, Task.new], data: { turbo_frame: "tasks-form", controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |form| %>
      <div class="mb-3 flex dark:text-gray-900">
        <%= form.text_field :title, class: "rounded mr-3", placeholder: "Enter task title" %>
        <%= form.submit "Create Task",
                    class:
                      "border px-4 py-3 bg-green-700 text-white rounded hover:bg-green-600" %>
      </div>
    <% end %>
  </div>
</div>
