<!DOCTYPE html>
<html>
  <head>
    <title>TaskTrakr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-50">
    <%= render "layouts/header"  %>

    <p class="notice text-success dark:text-white"><%= notice %></p>
    <p class="alert text-danger dark:text-white"><%= alert %></p>

    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
