<!DOCTYPE html>
<html>
  <head>
    <title>TaskTrakr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# This is the CDN for Shoelace.style %>
    <link
      rel="stylesheet"
      media="(prefers-color-scheme:light)"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/themes/light.css"
    />
    <link
      rel="stylesheet"
      media="(prefers-color-scheme:dark)"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/themes/dark.css"
      onload="document.documentElement.classList.add('sl-theme-dark');"
    />

  </head>

  <body class="bg-gray-50 dark:bg-gray-800">
    <%= render "layouts/header" %>

    <main class="">
      <%= yield %>
    </main>

    <%= render partial: "components/notification", locals: { message: flash[:notice] } %>
    <%= render partial: "components/notification", locals: { message: flash[:alert] } %>
  </body>
</html>
